<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>AlfredMagic</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A329E4B-AB21-41F7-A869-D878DF4EAE92</key>
		<array/>
		<key>234343B8-6F8E-448E-A094-9D864621269C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3789B239-CC9B-4580-8BD6-9AF9F5EF1296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31797CFC-07C7-497E-A94C-37F74F9E4787</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2A678A6-E2DC-4974-8EA7-F9FBDDC77A2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34051885-0A8D-4535-8DBF-32E3546D43B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3789B239-CC9B-4580-8BD6-9AF9F5EF1296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E95249C-5186-4D8F-B728-B8D776F3D0A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8282DD10-3AA9-469C-B681-3629599AB9CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7058EC8E-E2B9-4134-A85D-C92BE50493FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A329E4B-AB21-41F7-A869-D878DF4EAE92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>901B1800-E8C9-467C-92AA-D522F3ED4562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E08627D-FC6F-49A3-9F2E-8AA77A905F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE2DA7B6-0400-442A-8A76-863CEE44289D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2EF3884-4DD4-4274-8F3F-4A44E75161F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8C3711E-187C-4066-968E-810B4E920193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65362015-A490-4647-95D0-76F3001CFA9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E929FD56-B257-4345-91B1-DE719771AFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63044A5D-9F66-45B8-A33D-C050FFD61232</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F51437FF-2925-4621-8486-5718CC330DD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65362015-A490-4647-95D0-76F3001CFA9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5A2EF40-DCAC-4284-902D-8DA1FAD5D8D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8282DD10-3AA9-469C-B681-3629599AB9CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F67D9F7B-A274-440B-82AD-729BFD821AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4491DCB4-1051-40D6-9980-15D9F9E9CD34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC1D79A0-2784-4136-91BC-F60E7B8D3DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>186F7CEF-2C6D-48FB-93AD-8B4F0CDCD57D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CoderMageFox</string>
	<key>description</key>
	<string>一个面向效率提升的中文WorkFlow.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredMagic</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>so</string>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>少女祈祷中......</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './StackOverFlow/so.js' {query}

//注意:API有同一IP 300次调用限制,如果超过需要等待 2小时左右.所以我将输入节流做的很大,请自行调整Run Behaviour
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>中文翻译不一定准,英文可直接用快捷键查询</string>
				<key>title</key>
				<string>StackOverFlow中文查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34051885-0A8D-4535-8DBF-32E3546D43B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>use</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>CanIUse查询中...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './CanIUse/caniuse.js'  {query}
//CanIuse查询组件,可自定义Key,回车为打开CanIuse相关搜索.</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>CanIUse查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F51437FF-2925-4621-8486-5718CC330DD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3789B239-CC9B-4580-8BD6-9AF9F5EF1296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>65362015-A490-4647-95D0-76F3001CFA9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>https://stackoverflow.com/search?q=</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>234343B8-6F8E-448E-A094-9D864621269C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>https://caniuse.com/#search=</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D8C3711E-187C-4066-968E-810B4E920193</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>mdn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>MDN查询中...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './MDN/MDN.js' {query}

//使用MDN查询</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>模糊搜索可能会导致请求结果较慢</string>
				<key>title</key>
				<string>MDN查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F5A2EF40-DCAC-4284-902D-8DA1FAD5D8D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vue</string>
				<key>queuedelaycustom</key>
				<integer>4</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './VueDocument/VueDocument.js' {query}

//Vue.js文档查询</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vue.js文档查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E929FD56-B257-4345-91B1-DE719771AFC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>63044A5D-9F66-45B8-A33D-C050FFD61232</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8282DD10-3AA9-469C-B681-3629599AB9CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>https://developer.mozilla.org/zh-CN/search?q=</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6E95249C-5186-4D8F-B728-B8D776F3D0A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>react</string>
				<key>queuedelaycustom</key>
				<integer>4</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './ReactDocument/ReactDocument.js' {query}

//React.js文档查询</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>React.js文档查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31797CFC-07C7-497E-A94C-37F74F9E4787</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './VariableNameTransLate/bigHump.js' {query}

//变量/函数通用取名命令
//修改bigHump.js修改默认命名生成,可选:
//bigHump.js:大驼峰命名
//littleHump.js小驼峰命名
//bigUnderLine:大写加下划线
//littleUnderLine:小写加下划线</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入中英文均可互译</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7058EC8E-E2B9-4134-A85D-C92BE50493FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F2A678A6-E2DC-4974-8EA7-F9FBDDC77A2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0A329E4B-AB21-41F7-A869-D878DF4EAE92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>&gt;h</string>
				<key>subtext</key>
				<string>可在此处调起Shell命令窗口</string>
				<key>text</key>
				<string>在此处调起Shell命令窗口</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F67D9F7B-A274-440B-82AD-729BFD821AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
    set pathList to (quoted form of POSIX path of (folder of the front window as alias))
  end tell
  
  tell application "System Events"
    if not (exists (processes where name is "Terminal")) then
      do shell script "open -a Terminal " &amp; pathList
    else
      tell application "Terminal"
        activate
        tell application "System Events" to tell process "Terminal.app" to keystroke "t" using command down
        do script ("cd " &amp; pathList) in first window
      end tell
    end if
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4491DCB4-1051-40D6-9980-15D9F9E9CD34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BE2DA7B6-0400-442A-8A76-863CEE44289D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import * as React from 'react';
import * as Styles from './{query}.scss'

export default class {query} extends React.Component {
	constructor(props) {
		super(props);
		this.state = {
			//定义状态
		}
	}

	getDefaultProps() {
		//do something
	}

	getInitialState() {
		//do something
	}

	componentWillMount() {
		//do something
	}

	componentDidMount() {
		//do something
	}

	shouldComponentUpdate() {
		//do something
	}

	ComponentDidUpdate() {
		//do something
	}

	componentWillUnmount() {
		//do something
	}
	static getDerivedStateFromProps(props, state) {
		return null
	}
	render() {
		//do something
	}
}

</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>186F7CEF-2C6D-48FB-93AD-8B4F0CDCD57D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {query} = (props) =&gt; (
    &lt;div&gt;
     	{cursor}
    &lt;/div&gt;
);</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C2EF3884-4DD4-4274-8F3F-4A44E75161F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FC1D79A0-2784-4136-91BC-F60E7B8D3DB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} = () =&gt; {
       {cursor}
    }

</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9E08627D-FC6F-49A3-9F2E-8AA77A905F44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>901B1800-E8C9-467C-92AA-D522F3ED4562</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>
alfredFE:可能是最好用的前端Alfred工作流.


CodeBy:CoderMageFox
Lincense:MIT
Blog:http://blog.codermagefox.com
Mail:codermagefox@codermagefox.com
Have a nice time!
    </string>
	<key>uidata</key>
	<dict>
		<key>0A329E4B-AB21-41F7-A869-D878DF4EAE92</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>186F7CEF-2C6D-48FB-93AD-8B4F0CDCD57D</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>234343B8-6F8E-448E-A094-9D864621269C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>31797CFC-07C7-497E-A94C-37F74F9E4787</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>34051885-0A8D-4535-8DBF-32E3546D43B7</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3789B239-CC9B-4580-8BD6-9AF9F5EF1296</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>4491DCB4-1051-40D6-9980-15D9F9E9CD34</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>63044A5D-9F66-45B8-A33D-C050FFD61232</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>65362015-A490-4647-95D0-76F3001CFA9E</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>6E95249C-5186-4D8F-B728-B8D776F3D0A5</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7058EC8E-E2B9-4134-A85D-C92BE50493FD</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>8282DD10-3AA9-469C-B681-3629599AB9CA</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>901B1800-E8C9-467C-92AA-D522F3ED4562</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>9E08627D-FC6F-49A3-9F2E-8AA77A905F44</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>BE2DA7B6-0400-442A-8A76-863CEE44289D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>C2EF3884-4DD4-4274-8F3F-4A44E75161F1</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>D8C3711E-187C-4066-968E-810B4E920193</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E929FD56-B257-4345-91B1-DE719771AFC4</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F2A678A6-E2DC-4974-8EA7-F9FBDDC77A2C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>F51437FF-2925-4621-8486-5718CC330DD9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F5A2EF40-DCAC-4284-902D-8DA1FAD5D8D2</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F67D9F7B-A274-440B-82AD-729BFD821AD9</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>FC1D79A0-2784-4136-91BC-F60E7B8D3DB6</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://Blog.codermagefox.com</string>
</dict>
</plist>
